@{
    ViewData["Title"] = "Login";

}
@model LogIn

<div class="container h-100 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card" style="width: 100%; max-width: 400px; padding: 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
        <h4 class="card-title text-center">Log In</h4>
        <form asp-controller="Account" asp-action="LogIn" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label">E-Mail Address</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Password
                </label>
                <input asp-for="Password" type="password" class="form-control" /> <span asp-validation-for="Password"
                    class="text-danger"></span>
                <a href="#" class="float-start text-decoration-none ">
                    Forgot Password?
                </a>

            </div>

            <div class="form-group mb-3 ">
                <div class="form-check pt-3 ">
                    <input asp-for="RememberMe" id="rememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label ">Remember Me</label>
                </div>
            </div>

            <div class="form-group">
                <button asp-route-returnUrl="@ViewData["returnUrl"]" type="submit" class="btn btn-primary w-100">
                    Log In
                </button>
            </div>
            @if (TempData["SignUpSuccess"] != null)
            {
                <div class="alert alert-success">@TempData["SignUpSuccess"]</div>
            }
            @if (TempData["LogOutMessage"] != null)
            {
                <div class="alert alert-success mt-3">
                    @TempData["LogOutMessage"]
                </div>
            }
            <div class="mt-4 text-center">
                Don't have an account? <a asp-action="SignUp" asp-controller="Account"
                    class="text-decoration-none">Create One</a>
            </div>
        </form>

    </div>
</div>
