@model List<Content>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
            .container {
            width: 90%;
            margin: 0 auto;
        }
        h1 {
            text-align: center;
            margin-top: 50px;
        }

        .content-section {
            margin-top: 30px;
        }

        .content-section h2 {
            text-align: center;
        }

        
        .items-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            
            gap: 20px;
        }
        
        .item {
              flex: 1 1 calc(33.333% - 20px); 
    max-width: calc(33.333% - 20px);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
        }
        .item:hover{
        transform:scale(1.05)
        box-shadow :0 6px 12px rgba(0,0,0,0.2)
        background-color:#f0f8ff;
        }
        .item img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            transition: transform 0.3s ease; 

        }
         .item img:hover {
            transform:  scale(1.1); 

        }

        .item h3 {
            color:darkmagenta
            font-weight:blanchedalmond;
            margin-top: 15px;
            font-size: 1.2em;
            transition:color 0.3s ease;
        }
        .item h3:hover{color: aliceblue;}
        
        .item p {
            font-size: 1em;
            color: #555;
        }
    </style>
</head>
<body>

    <div class="container">
        
        <div class="content-section">
            
            <div class="items-container">
                @foreach (var content in Model)
                {
                    <div class="item">
                        <a href="/Movies/Details/@content.Id">
                            <img src="@content.ImageUrl" alt="@content.Title">
                            <h3>@content.Title</h3>
                        </a>
                    </div>
                }
            </div>
        </div>


    </div>

</body>
</html>



